<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.sugarman.myb">

  <uses-permission android:name="android.permission.INTERNET"/>
  <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
  <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
  <uses-permission android:name="android.permission.VIBRATE"/>
  <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
  <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>
  <uses-permission android:name="android.permission.QUICKBOOT_POWERON"/>
  <uses-permission android:name="android.permission.WAKE_LOCK"/>
  <uses-permission android:name="android.permission.READ_CONTACTS"/>
  <uses-permission android:name="android.permission.CAMERA"/>

  <!--
     <uses-feature
         android:name="android.hardware.sensor.stepdetector"
         android:required="true" />

     <uses-feature
         android:name="android.hardware.sensor.stepcounter"
         android:required="true" />
    -->
  <application
      android:name=".App"
      android:allowBackup="false"
      android:icon="@mipmap/ic_launcher"
      android:label="@string/app_name"
      android:largeHeap="true"
      android:supportsRtl="false"
      android:theme="@style/AppTheme"
      tools:replace="android:allowBackup,android:supportsRtl">
    <meta-data
        android:name="com.google.android.gms.version"
        android:value="@integer/google_play_services_version"/>
    <meta-data
        android:name="com.facebook.sdk.ApplicationId"
        android:value="@string/facebook_app_id"/>
    <meta-data
        android:name="io.fabric.ApiKey"
        android:value="b8561e734f90816ed452395df5e20583a37df1be"/>

    <provider
        android:name=".utils.GenericFileProvider"
        android:authorities="${applicationId}.utils.provider"
        android:exported="false"
        android:grantUriPermissions="true">
      <meta-data
          android:name="android.support.FILE_PROVIDER_PATHS"
          android:resource="@xml/provider_paths"/>
    </provider>
    <provider
        android:name="android.support.v4.content.FileProvider"
        android:authorities="${applicationId}.myb.fileprovider"
        android:exported="false"
        android:grantUriPermissions="true">
      <meta-data
          android:name="android.support.FILE_PROVIDER_PATHS"
          android:resource="@xml/file_paths"/>
    </provider>
    <provider
        android:name="com.facebook.FacebookContentProvider"
        android:authorities="com.facebook.app.FacebookContentProvider736895943117763"
        android:exported="true"/>

    <activity
        android:name="com.vk.sdk.VKServiceActivity"
        android:label="ServiceActivity"
        android:theme="@style/VK.Transparent"/>
    <activity
        android:name="com.braintreepayments.api.BraintreeBrowserSwitchActivity"
        android:launchMode="singleTask">
      <intent-filter>
        <action android:name="android.intent.action.VIEW"/>

        <category android:name="android.intent.category.DEFAULT"/>
        <category android:name="android.intent.category.BROWSABLE"/>

        <data android:scheme="${applicationId}.braintree"/>
      </intent-filter>
    </activity>
    <activity
        android:name=".ui.activities.SplashActivity"
        android:screenOrientation="portrait"
        android:theme="@style/SugarmanBackgroundActivityTheme">
      <intent-filter>
        <action android:name="android.intent.action.MAIN"/>

        <category android:name="android.intent.category.LAUNCHER"/>
      </intent-filter>
    </activity>
    <activity
        android:name=".ui.activities.LoginActivity"
        android:screenOrientation="portrait"
        android:theme="@style/SugarmanBackgroundActivityTheme"/>
    <activity
        android:name=".ui.activities.SettingsActivity"
        android:screenOrientation="portrait"/>
    <activity
        android:name=".ui.activities.mainScreeen.MainActivity"
        android:screenOrientation="portrait"
        android:theme="@style/SugarmanBackgroundActivityTheme"/>
    <activity
        android:name=".ui.activities.profile.ProfileActivity"
        android:screenOrientation="portrait"
        android:theme="@style/SugarmanBackgroundActivityTheme"/>
    <activity
        android:name=".ui.activities.HighScoreActivity"
        android:screenOrientation="portrait"
        android:theme="@style/SugarmanBackgroundActivityTheme"/>
    <activity
        android:name=".ui.activities.InvitesActivity"
        android:screenOrientation="portrait"
        android:theme="@style/SugarmanBackgroundActivityTheme"/>
    <activity
        android:name=".ui.activities.RequestsActivity"
        android:screenOrientation="portrait"
        android:theme="@style/SugarmanBackgroundActivityTheme"/>
    <activity
        android:name=".ui.activities.createGroup.CreateGroupActivity"
        android:screenOrientation="portrait"
        android:theme="@style/SugarmanActivityTheme"/>
    <activity
        android:name=".ui.activities.SearchGroupsActivity"
        android:screenOrientation="portrait"
        android:theme="@style/SugarmanActivityTheme"/>
    <activity
        android:name=".ui.activities.CongratulationsActivity"
        android:screenOrientation="portrait"
        android:theme="@style/SugarmanBackgroundActivityTheme"/>
    <activity
        android:name=".ui.activities.DailyActivity"
        android:screenOrientation="portrait"
        android:theme="@style/SugarmanBackgroundActivityTheme"/>
    <activity
        android:name=".ui.activities.FailedActivity"
        android:screenOrientation="portrait"
        android:theme="@style/SugarmanBackgroundActivityTheme"/>
    <activity
        android:name=".ui.activities.GroupDetailsActivity"
        android:screenOrientation="portrait"
        android:theme="@style/SugarmanBackgroundActivityTheme"
        android:windowSoftInputMode="adjustPan"/>
    <activity
        android:name=".ui.activities.addMember.AddMemberActivity"
        android:screenOrientation="portrait"
        android:theme="@style/SugarmanActivityTheme"/>
    <activity
        android:name=".ui.activities.StatsTrackingActivity"
        android:screenOrientation="portrait"
        android:theme="@style/StatsActivityTheme"/>
    <activity
        android:name=".ui.activities.IntroActivity"
        android:screenOrientation="portrait"
        android:theme="@style/SugarmanBackgroundActivityTheme"/>
    <activity
        android:name=".ui.activities.MyStatsActivity"
        android:screenOrientation="portrait"
        android:theme="@style/StatsActivityTheme"/>

    <service
        android:name=".services.FcmListenerService"
        android:exported="false">
      <intent-filter>
        <action android:name="com.google.firebase.MESSAGING_EVENT"/>
      </intent-filter>
    </service>
    <service
        android:name=".services.InstanceIDListenerService"
        android:exported="false">
      <intent-filter>
        <action android:name="com.google.firebase.INSTANCE_ID_EVENT"/>
      </intent-filter>
    </service>
    <service
        android:name=".services.StepDetectorService"
        android:enabled="true"/>
    <service
        android:name=".services.MasterStepDetectorService"
        android:enabled="true"/>

    <receiver
        android:name="com.appsflyer.MultipleInstallBroadcastReceiver"
        android:exported="true">
      <intent-filter>
        <action android:name="com.android.vending.INSTALL_REFERRER"/>
      </intent-filter>
    </receiver>
    <receiver android:name=".receivers.BootReceiver">
      <intent-filter>
        <action android:name="android.intent.action.BOOT_COMPLETED"/>
        <action android:name="android.intent.action.QUICKBOOT_POWERON"/>
      </intent-filter>
    </receiver>
    <receiver android:name=".receivers.SwitchToNextDayReceiver"/>
    <receiver android:name=".receivers.NetworkConnectionReceiver">
      <intent-filter>
        <action android:name="android.net.conn.CONNECTIVITY_CHANGE"/>
        <action android:name="android.net.wifi.WIFI_STATE_CHANGED"/>
      </intent-filter>
    </receiver>

    <activity
        android:name=".ui.activities.shop.ShopActivity"
        android:screenOrientation="portrait"/>
    <activity
        android:name=".ui.activities.productDetail.ProductDetailsActivity"
        android:screenOrientation="portrait"/>
    <activity
        android:name=".ui.activities.checkout.CheckoutActivity"
        android:screenOrientation="portrait"/>
    <activity
        android:name=".ui.activities.shopInviteFriend.ShopInviteFriendsActivity"
        android:screenOrientation="portrait"/>
    <activity
        android:name=".ui.activities.PhoneLoginActivity"
        android:screenOrientation="portrait"/>
    <activity
        android:name=".ui.activities.editProfile.EditProfileActivity"
        android:screenOrientation="portrait"/>
    <activity
        android:name=".ui.activities.ApproveOtpActivity"
        android:label="@string/title_activity_approve_otp"
        android:screenOrientation="portrait"
        android:theme="@style/AppTheme"/>
    <activity
        android:name="com.paypal.android.MEP.PayPalActivity"
        android:configChanges="keyboardHidden|orientation"
        android:theme="@android:style/Theme.Translucent.NoTitleBar"/>
    <activity android:name=".ui.activities.checkout.test_paypal.ConfirmationActivity"/>
    <activity android:name=".ui.activities.mentorList.MentorListActivity">
    </activity>
  </application>

</manifest>